<div id="about" class="text-center">
    <section class="row py-5 px-2 px-md-4 px-lg-5">
        <div class="col-12 px-md-0 pr-xl-4">
            <div class="card">
                <div class="about-title col-6 offset-3">Clarente Blood Arthur</div>
                <div class="card-body">
                    <app-carousel [carouselData]="carouselData"></app-carousel>
                </div>
            </div>
        </div>
    </section>
    <app-innertext [innertext]="innertext"></app-innertext>
</div>
